@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>Woops!! Looks like you dont have access to the functionality</h1>
</div>
<div>
    You can Logout and <a class="nav-link text-dark" 
    asp-area="" asp-controller="Authorize" asp-action="Logout">Login as a different user</a> 
    
</div>